[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-gitlab = "*"
hiii-email-sender = {editable = true,git = "https://github.com/cielpy/hiii-email-sender.git",ref = "master"}

[requires]
python_version = "3.6"
